{% extends "blog/base.html" %}
{% load staticfiles %}
{% block titulo %}{% endblock %}






<!-- block blog -->




	<!-- block derecho -->

<!-- block bottom -->
	<!-- block bottom-col-1 -->
	<!-- block bottom-col-2 -->


                {% block bottom-col-2 %}
                <div class="col-md-3 col-sm-6">
                    <h4>Empresa</h4>
                    <div>
                        <ul class="arrow">
                            <li><a href="/#social">La Compañia</a></li>
                            <li><a href="#">Nuestro Equipo</a></li>
                            <li><a href="#">Nuestros clientes</a></li>
                            <li><a href="#">Nuestros servicios</a></li>
                            <li><a href="#">Contactanos</a></li>
                            <li><a href="#">Politicas Privadas</a></li>
                            <li><a href="#">Terminos y condiciones</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->
                {% endblock %}

	<!-- block bottom-col-3 -->
	<!-- block bottom-col-4 -->


<!--block footer -->

{% block footer %}
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2014 <a target="_blank" href="http://pecademi.com/" title="Pecademi, se">Pecademi</a>. Todos los derechos reservados 
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        {% block footer-link %}
                        <li><a rel="canonical" href="/">Home</a></li><!--para todos-->
                        <li><a href="registro">Registro</a></li>
                        <li><a href="login">Login</a></li>
                        <li><a href="blog">Blog</a></li>
                        <li><a id="gototop" class="gototop" href="#"><i class="icon-chevron-up"></i></a></li><!--#gototop-->
                        {% endblock %}

                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
{% endblock %}
